#contact {
    background-image: url(../assets/images/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .index {
        margin: 128px auto 0;
        text-align: center;
        


        span {
            color: var(--purple);
            font: var(--Subtitle);
        }

        h2 {
            margin-top: 16px;
            font: var(--text-ms);
            color: var(--gray-600);
        }

        p {
            margin-top: 16px;
            color: var(--gray-500);
            font: var(--text-md);
        }
    }


    .links {
        width: 400px;
        margin: 88px auto 0;
        

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                list-style: none;
                height: 56px;
                background-color: var(--gray-300);
                border-radius: 6px;

                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: var(--gray-500);
                    font: var(--text-md);

                    .icon {
                        display: flex;
                        margin-left: 16px;
                        align-items: center;
                        margin-top: 11px;
                       
                    }

                .text {
                    margin-top: 11px;
                    margin-left: 10px;
                }

                .arrow1 {
                    display: flex;
                    margin-top: 11px;
                    margin-left: 234px;
                }

                .arrow2 {
                    display: flex;
                    margin-top: 11px;
                    margin-left: 220px;
                }

                .arrow3 {
                    display: flex;
                    margin-top: 11px;
                    margin-left: 242px;
                }

                .arrow4 {
                    display: flex;
                    margin-top: 11px;
                    margin-left: 250px;
                }
            }
        }
    }
}
}