

    #projects {
        background-color: var(--gray-200);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        
        
        span {
            color: var(--reed);
            margin: 72px auto 8px;
            text-align: center;
            font: var(--Subtitle);
        }

        h2 {
            
            color: var(--gray-600);
            font: var(--title-md);
            text-align: center;
        }
        
<<<<<<< HEAD
        .container {
            display: grid;
            grid-template-columns: repeat(3, 0.1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 24px;
            align-items: center;
            width: 1040px;
            margin: 56px auto;

            

            .card {
                
                width: 330px;
                height: 280px;
                padding: 12px;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                border-radius: 12px;
                background-color: var(--gray-300);
            }

            h3 {
                color: var(--gray-600);
                font: var(--title-sm);
                letter-spacing: 1px;
                margin-top: 12px;
            }

            p {
                color: var(--gray-600);
                font: var(--text-sm);
                margin-block: 16px;
                
            }

            .card img {
                width: 306px;
                height: 156px;
                object-fit: cover;
                border-radius: 8px;
                
            }
=======


        
>>>>>>> 2955fde80d6d3f53c754cf044c4ac58b1dd84133
    }
    }