#services {
    width: 100%;
    height: 480px;
    background-color: var(--gray-100);
    padding-block: 88px 120px;


    span {
        display: flex;
        margin-top: 88px auto;
        justify-content: center;
        color : var(--reed);
        font: var(--Subtitle);
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        color: var(--gray-600);
        font: var(--title-md);
    }

    .s-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 56px auto;
        gap: 24px;

        .card {
            width: 280px;
            border-radius: 12px;
            border: 2px solid var(--gray-200);
            padding: 20px;
            align-items: flex-start;
            
            figcaption {
                padding-block: 8px;
            }

            strong {
                color: var(--gray-600);
                font: var(--tittle-sm);
            }

            p {
                margin-top: 8px;
                color: var(--gray-500);
                font: var(text-sm);
            }
        }
    }
}